.page {
  width: 800px;
  background-color: transparent;
  min-height: 100vh;
  margin: auto; }

.header {
  background: black url("/img/dvsup.png");
  height: 64px; }

.header > h1 {
  margin: 0 0 0 16px;
  color: white;
  line-height: 64px; }

.top-img {
  background-image: url("/img/background.jpg");
  height: 500px;
  background-size: cover; }

.content {
  color: white; }
  .content h1 {
    font-family: "Slabo 27px", sans-serif;
    font-weight: normal;
    font-size: 27px; }
  .content p {
    font-size: 18px; }

@supports (display: grid) {
  @media screen and (min-width: 800px) {
    .App {
      display: grid;
      grid-template-columns: 1fr 0.5fr 60em 0.5fr 1fr;
      grid-template-areas: "header header header header header" "topimg topimg  topimg  topimg  topimg" "...    . content . ..."; }
    .header {
      grid-area: header; }
    .top-img {
      grid-area: topimg; }
    .content {
      grid-area: content; } } }
